<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon home-icon"
    aria-label="Example icon-button with home icon"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Proxibanque</span>
  <span class="status-span">Statut : </span>
  <button (click)="handleClickOnInit()">Init</button>
  <span>{{ this.userStatus$ | async }}</span>

  <span class="example-spacer"></span>
  <a mat-button routerLink="/login">Login</a>
  <a mat-button routerLink="/client-create">Create client</a>
  <a mat-button routerLink="/client-show/1">Show First client</a>
  <a mat-button routerLink="/client-edit">Edit client</a>
  <a mat-button routerLink="/client-list">List client</a>
  <a mat-button routerLink="/advisor-list">List advisor</a>
</mat-toolbar>
