<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon home-icon"
    aria-label="Example icon-button with home icon"
  >
    <mat-icon>account_balance</mat-icon>
  </button>
  <span>Proxibanque</span>
  <span class="status-span">Statut : {{ this.userStatus$ }}</span>
  <span></span>

  <span class="example-spacer"></span>

  <div *ngIf="this.userStatus$ !== 'GUEST'">
    <a mat-button class="nav-link" routerLink="/client-create">Nouveau client</a>
    <a mat-button class="nav-link" routerLink="/client-show/1">1er client</a>
    <!-- <a mat-button class="nav-link" routerLink="/client-edit">Edit client</a> -->
    <a mat-button class="nav-link" routerLink="/client-list">Liste des clients</a>
    <a mat-button class="nav-link" routerLink="/advisor-list">Liste des conseillers</a>
  </div>

  <!-- <a *ngIf="this.userStatus$ === 'GUEST'" routerLink="/login">Login</a> -->
  <button
    class="btn-grad"
    *ngIf="this.userStatus$ === 'GUEST'"
    (click)="handleLoginAsManager()"
  >
    Accès manager
  </button>

  <button
    class="btn-grad"
    *ngIf="this.userStatus$ !== 'GUEST'"
    (click)="handleLogout()"
  >
    Déconnexion
  </button>
</mat-toolbar>
