<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon home-icon"
    aria-label="Example icon-button with home icon"
    routerLink="/client-list"
  >
    <mat-icon>account_balance</mat-icon>
  </button>
  <span>Proxibanque</span>

  <span class="example-spacer"></span>

  <div *ngIf="this.userStatus$ !== 'GUEST'">
    <a mat-button class="nav-link" routerLink="/client-list" routerLinkActive="active-link">Liste des clients</a>
    <a mat-button class="nav-link" routerLink="/client-create" routerLinkActive="active-link">Nouveau client</a>
    <a mat-button class="nav-link" routerLink="/transfer" routerLinkActive="active-link">Nouveau virement</a>
    <a mat-button class="nav-link" routerLink="/chart" routerLinkActive="active-link">Visualisation des comptes</a>

    <a
      *ngIf="this.userStatus$ === 'MANAGER'"
      mat-button
      class="nav-link"
      routerLink="/advisor-list"
      routerLinkActive="active-link"
      >Liste des conseillers</a
    >
  </div>

  <button
  class="btn-grad btn-grad-grey"
  mat-flat-button
  color="primary"
  *ngIf="this.userStatus$ === 'ADVISOR' || this.userStatus$ === 'MANAGER'" 
  (click)="handleLogout()">
    Déconnexion
  </button>

</mat-toolbar>