.example-spacer {
  flex: 1 1 auto;
}

.status {
margin-left: 1em;
color: var(--lightGrey);
font-style: italic
}

mat-toolbar {
width: 100%;
background-color: var(--white);
}

mat-toolbar .nav-link {
color: var(--darkGrey);
}

.active-link{
  background-color: var(--lightBlueNav);
}

.nav-link{
  margin-left: 1em;
}