.example-card {
    max-width: 700px;
    margin: auto;
    background-color: none;
    border: none;
    box-shadow: none;
    width: fit-content;
}

.example-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.btn-grade {
    /* background-image: none; */
    /* background-color: #1A2980; */
}

.btn-grad:hover {
    /* background-image: none; */
    /* background-color: #188b8a; */
    box-shadow: 0 0 20px #333333;
}

.btn-grad:disabled {
    background-image: none;
    background-color: rgb(177, 177, 177);
    color: #363636;
}