<h1>Créer un client</h1>
<mat-card>
    <mat-card-content>
        {{ clientModel | json }}
        <form (ngSubmit)="onSubmit()" #clientForm="ngForm" class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Nom</mat-label>
                <input matInput placeholder="Ex. Doe" value="" [(ngModel)]="clientModel.lastName" name="lastName" required [formControl]="textFormControl" [errorStateMatcher]="matcher">
                @if (textFormControl.hasError('required')) {
                    <mat-error>
                        Le nom est <strong>obligatoire</strong>
                    </mat-error>
                }
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Prénom</mat-label>
                <input matInput placeholder="Ex. John" value="" [(ngModel)]="clientModel.firstName" name="firstName" #firstName="ngModel" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Ex. johndoe@gmail.com" value="" [(ngModel)]="clientModel.email" name="email" required [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                    <mat-error>Veuillez entrez un email valide</mat-error>
                  }
                  @if (emailFormControl.hasError('required')) {
                    <mat-error>L'email est <strong>obligatoire</strong></mat-error>
                  }
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Adresse</mat-label>
                <input matInput placeholder="Ex. 12 rue des does" value="" [(ngModel)]="addressModel.street" name="street" #street="ngModel" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Ville</mat-label>
                <input matInput placeholder="Ex. Bordeaux" value="" [(ngModel)]="addressModel.city" name="city" #city="ngModel" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Code postal</mat-label>
                <input matInput placeholder="Ex. 42000" value="" [(ngModel)]="addressModel.zipCode" name="zipCode" #zipCode="ngModel" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Numéro de téléphone</mat-label>
                <input type="tel" matInput placeholder="Ex. 035426178912" value="" [(ngModel)]="clientModel.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" required>
            </mat-form-field>
            <button type="button" class="btn btn-default" (click)="newClient()">Reset</button>
            <button type="submit" [disabled]="!clientForm.form.valid">Submit</button>
        </form>
    </mat-card-content>
</mat-card>