h2, mat-form-field {
    margin: 2em;
}

.mat-mdc-chip-set, mat-card {
    max-width: 400px;
  }

.account-selection-container, .account-selected-container{
    display: flex;
    text-align: center;
    justify-content:center;
}

.account-selected-container{
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.main-container {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-grad:disabled {
    background-image: none;
    background-color: rgb(177, 177, 177);
    color: #363636;
}

.btn-grad:disabled:hover {   
    cursor: auto;
}
