<h2>Virement de compte à compte</h2>

<form (ngSubmit)="form.value" [formGroup]="form">
  <div class="select-client">
    <mat-form-field style="width:25vw">
      <mat-label>Client du compte débiteur</mat-label>
      <mat-select formControlName="idClientDebitFormControl" (selectionChange)="findClientAccounts($event.value)">
        @for (debitClient of clients; track debitClient) {
          <mat-option name="clientDebitAccount" [value]="debitClient.id">{{ debitClient.id }} : {{ debitClient.personInfos.firstName }}  {{ debitClient.personInfos.lastName }}  </mat-option>
        }
      </mat-select>
    </mat-form-field>
    
    <mat-icon>arrow_forward</mat-icon>
    
    <!-- <mat-form-field style="width:25vw">
      <mat-label>Client du compte créditeur</mat-label>
      <mat-select formControlName = "idClientCreditFormControl">
        @for (creditClient of clients; track creditClient) {
          <mat-option name="clientCreditAccount" [value]="creditClient.id">{{ creditClient.id }} : {{ creditClient.personInfos.firstName }}  {{ creditClient.personInfos.lastName }}</mat-option>
        }
      </mat-select>
    </mat-form-field> -->
  </div>
  
  <div class="select-account-type">
    <!-- <mat-form-field style="width:25vw">
      <mat-label>Type de compte</mat-label>
      <mat-select formControlName="typeDebitAccountFormControl" (selectionChange)="findAccount($event.value)" >
        @for (account of accountTypes; track account) {
          <mat-option name="typeDebitAccount" [value]="account">{{ account }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  -->
  
  <!-- <mat-form-field style="width:25vw">
    <mat-label>Type de compte</mat-label>
    <mat-select formControlName="typeCreditAccountFormControl" >
      @for (account of accountTypes; track account) {
        <mat-option name="typeCreditAccount" [value]="account">{{ account }}</mat-option>
      }
    </mat-select>
  </mat-form-field> -->
</div>

<div class="select-account">
  <mat-form-field style="width:25vw">
    <mat-label>Compte débiteur</mat-label>
    <mat-select formControlName="idDebitAccountFormControl" (selectionChange)="findAccount($event.value)" >
      <mat-option name="debitAccount" [value]="debitCurrentAccount.id"> {{ debitCurrentAccount.id }} : Compte courant </mat-option>
      <mat-option name="debitAccount" [value]="debitSavingAccount.id"> {{ debitSavingAccount.id }} : Compte épargne </mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- <mat-chip-listbox class="mat-mdc-chip-set-stacked">
    @for (account of debitAccounts; track account) {
      <mat-chip-option selected [value]="account" color="primary" >{{account.id}}</mat-chip-option>
    }
  </mat-chip-listbox> -->
  
  <!-- <mat-chip-listbox class="mat-mdc-chip-set-stacked"  (selectionChange)="findAccount($event.value)">
    <mat-chip-option [value]="debitCurrentAccount.id" color="primary" > Compte courant : {{debitCurrentAccount.id}} 
    </mat-chip-option>
    <mat-chip-option [value]="debitSavingAccount.id" color="primary" > Compte épargne : {{debitSavingAccount.id}}</mat-chip-option>
  </mat-chip-listbox> -->
  
  <div>
   <h3>Compte de débit : {{selectedAccount.id}} </h3> 
    Solde : {{selectedAccount.balance}} 
  </div>
</div>

<!-- <mat-form-field style="width:25vw">
  <mat-label>Compte créditeur</mat-label>
  <mat-select formControlName="idCreditAccountFormControl">
    @for (account of currentAccounts; track account) {
      <mat-option name="creditAccount" [value]="account.id">{{ account.id }}</mat-option>
    }
  </mat-select>
</mat-form-field> -->


<mat-form-field class="example-full-width" style="width:25vw">
  <mat-label>Montant</mat-label>
  <input matInput name="amount" formControlName="amountFormControl" placeholder="Ex. 2500" value="" />
</mat-form-field>
<br>

<button mat-stroked-button color="primary" (click)="onSubmit(form.value)">Valider</button>

</form>