<h2>Virement de compte à compte</h2>
<button class="btn-primary" (click)="goBack()">Retour</button>
<div class="select-account">
    <mat-form-field>
        <mat-label>Compte débiteur</mat-label>
        <mat-select>
          @for (account of accounts; track account) {
          <mat-option [value]="account.id">{{ account.id }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-icon>arrow_forward</mat-icon>
      
      <mat-form-field>
        <mat-label>Compte créditeur</mat-label>
        <mat-select>
          @for (account of accounts; track account) {
          <mat-option [value]="account.id">{{ account.id }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
</div>

<div class="select-account-type">
    <mat-form-field>
        <mat-label>Type de compte</mat-label>
        <mat-select>
          @for (account of accountTypes; track account) {
          <mat-option [value]="account">{{ account }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Type de compte</mat-label>
        <mat-select>
          @for (account of accountTypes; track account) {
          <mat-option [value]="account">{{ account }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
</div>

<mat-form-field class="example-full-width">
  <mat-label>Montant</mat-label>
  <input matInput placeholder="Ex. 2500" value="" />
</mat-form-field>
