h2, mat-form-field {
    margin: 2em;
}

.mat-mdc-chip-set, mat-card {
    max-width: 400px;
  }

.account-selection-container, .account-selected-container{
    display: flex;
    text-align: center;
    justify-content:center;
}

.account-selected-container{
    justify-content: space-evenly;
}

.main-container {
    text-align: center;
    justify-content: center;
/* align-content: center; */
}