<mat-card>
    <div class="login-form">
    <mat-card-header>
        <mat-card-title> Authentification </mat-card-title>
    </mat-card-header>
    <mat-label>Veuillez entrer votre email : </mat-label>
    <p>
        <mat-form-field>
            <input matInput type="email" name="email" id="email" placeholder="email@example.com" required 
            [formControl]="emailFormControl" [errorStateMatcher]="matcher">  
            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                <mat-error>Veuillez entrez un email valide</mat-error>
            }
            @if (emailFormControl.hasError('required')) {
                <mat-error>L'email est <strong>obligatoire</strong></mat-error>
            }
        </mat-form-field>
    </p>    
    <mat-label for="password">Veuillez entrer votre mot de passe :</mat-label>
    <p>
        <mat-form-field>
            <input matInput type="password" name="password" id="password"  placeholder="password" required>
        </mat-form-field>
        <br>
        <a mat-flat-button type="submit" color="primary" routerLink="/client-list">Se connecter</a>
    </p>
</div>
</mat-card>