:root {
    --white: white;
    --black: black;
    --darkGrey: #80868d;
    --lightGrey: #c2c6cc;
    --lightestGrey: #e9eff5;
    --darkBlue : #1A2980;
    --lightBlue: #26D0CE;
    --cardGrey: #f9fafb;
    --lightBlueNav: #dff0ef;
  }