<h2> Fiche d'un client</h2>
<mat-card>
    <mat-card-header>
        <mat-card-title>{{client.personInfos.firstName}} {{client.personInfos.lastName}}</mat-card-title> 
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">ID : {{client.id}}</mat-list-item>
            <mat-list-item role="listitem"> Prénom : {{client.personInfos.firstName}}</mat-list-item>
            <mat-list-item role="listitem"> Nom : {{client.personInfos.lastName}}</mat-list-item>
            <mat-list-item role="listitem"> Email : {{client.personInfos.email}}</mat-list-item>
            <mat-list-item role="listitem"> Adresse : {{client.personInfos.street}}, {{client.personInfos.zipCode}} {{client.personInfos.city}}</mat-list-item>
            <mat-list-item role="listitem"> Téléphone : {{client.personInfos.phoneNumber}}</mat-list-item>
            <mat-list-item id = "compteepargne"> 
                <span matListItemTitle> Compte épargne : </span>
                <span matListItemLine> Numero : {{client.account?.id}} </span>
                <span matListItemLine> Solde : {{client.account?.balance}} </span>
                <span matListItemLine> Date de création : {{client.account?.creationDate| date:'dd/MM/yyyy'}}  </span>         
            </mat-list-item>
        </mat-list>        
        <a mat-flat-button color="primary" routerLink="/client-edit" target="_blank">Modifier</a>
        <a mat-flat-button color="primary" routerLink="/transfer" target="_blank">Virement</a>
    </mat-card-content>
</mat-card>