h2{
    text-align: center;
}

mat-card{
    margin-left : 90px;
    margin-right : 90px;
}

a{
    margin-right: 30px;
    margin-top: 20px;
}

#compteepargne{
    margin-bottom: 15px;
}

.card-wrapper{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    column-gap: 10em;
}