<button class="btn btn-primary" (click)="goBack()">Retour</button>
<h2>{{ client.personInfos.firstName }} {{ client.personInfos.lastName }}</h2>
<div class="card-wrapper">
  <mat-card>
    <mat-card-content>
      <mat-list role="list" class="card-wrapper">
        <div class="left-container">
          <mat-list-item role="listitem">ID : {{ client.id }}</mat-list-item>
          <mat-list-item role="listitem">
            Prénom : {{ client.personInfos.firstName }}</mat-list-item
          >
          <mat-list-item role="listitem">
            Nom : {{ client.personInfos.lastName }}</mat-list-item
          >
          <mat-list-item role="listitem">
            Email : {{ client.personInfos.email }}</mat-list-item
          >
          <mat-list-item role="listitem">
            Adresse : {{ client.personInfos.street }},
            {{ client.personInfos.zipCode }}
            {{ client.personInfos.city }}</mat-list-item
          >
          <mat-list-item role="listitem">
            Téléphone : {{ client.personInfos.phoneNumber }}</mat-list-item
          >
          <button class="btn btn-primary"
            routerLink="/client-edit/{{ client.id }}"
            >Modifier</button
          >
        </div>
        <div class="right-container">
          <div class="top-container">
            <mat-list-item id="compteepargne">
              <!-- MEMO : Le warning "maximum three lines" est causé car il y a plus de 3 spans ci-dessous -->
              <span matListItemTitle> Compte courant : </span>
              <span matListItemLine>
                Numero : {{ client.currentAccount?.id }}
              </span>
              <span matListItemLine>
                Date de création :
                {{
                  client.currentAccount?.creationDate | date : "dd/MM/yyyy"
                }}</span
              >
              <span matListItemLine class="balance">
                Solde : {{ client.currentAccount?.balance }} €
              </span>
            </mat-list-item>
          </div>
          <div class="bottom-container">
            <mat-list-item id="compteepargne">
              <!-- MEMO : Le warning "maximum three lines" est causé car il y a plus de 3 spans ci-dessous -->
              <span matListItemTitle> Compte épargne : </span>
              <span matListItemLine>
                Numero : {{ client.savingAccount?.id }}
              </span>
              <span matListItemLine>
                Date de création :
                {{
                  client.savingAccount?.creationDate | date : "dd/MM/yyyy"
                }}</span
              >
              <span matListItemLine class="balance">
                Solde : {{ client.savingAccount?.balance }} €
              </span>
            </mat-list-item>
          </div>
          <button class="btn btn-primary" routerLink="/transfer"
            >Virement</button
          >
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
