<ng-template [ngIf]="client.id" [ngIfElse]="noClientFound">

<div class="page-head">
  <h2>{{ client.personInfos.firstName }} {{ client.personInfos.lastName }}</h2>
  <a class="btn-grad btn-grad-grey" mat-flat-button color="primary" (click)="goBack()">Retour</a>
</div>

<div class="card-wrapper">
  <mat-card>
    <mat-card-content>
      <mat-list role="list" class="card-wrapper">
        <div class="left-container">
          <mat-list-item role="listitem">ID : {{ client.id }}</mat-list-item>
          <mat-list-item role="listitem">
            Prénom : {{ client.personInfos.firstName }}</mat-list-item
          >
          <mat-list-item role="listitem">
            Nom : {{ client.personInfos.lastName }}</mat-list-item
          >
          <mat-list-item role="listitem">
            Email : {{ client.personInfos.email }}</mat-list-item
          >
          <mat-list-item role="listitem">
            Adresse : {{ client.personInfos.street }},
            {{ client.personInfos.zipCode }}
            {{ client.personInfos.city }}</mat-list-item
          >
          <mat-list-item role="listitem">
            Téléphone : {{ client.personInfos.phoneNumber }}</mat-list-item
          >
          <a
            class="btn-grad"
            mat-flat-button
            routerLink="/client-edit/{{ client.id }}"
            >Modifier</a
          >
        </div>
        <div class="right-container">
          <div class="top-container">
            <mat-list-item id="compteepargne">
              <!-- MEMO : Le warning "maximum three lines" est causé car il y a plus de 3 spans ci-dessous -->
              <span matListItemTitle> Compte courant : </span>
              <span matListItemLine>
                Numero : {{ client.currentAccount?.id }}
              </span>
              <span matListItemLine>
                Date de création :
                {{
                  client.currentAccount?.creationDate | date : "dd/MM/yyyy"
                }}</span
              >
              <span matListItemLine class="balance">
                Solde : {{ client.currentAccount?.balance | number: '1.0-2'}} €
              </span>
            </mat-list-item>
          </div>
          <div class="bottom-container">
            <mat-list-item id="compteepargne">
              <!-- MEMO : Le warning "maximum three lines" est causé car il y a plus de 3 spans ci-dessous -->
              <span matListItemTitle> Compte épargne : </span>
              <span matListItemLine>
                Numero : {{ client.savingAccount?.id }}
              </span>
              <span matListItemLine>
                Date de création :
                {{
                  client.savingAccount?.creationDate | date : "dd/MM/yyyy"
                }}</span
              >
              <span matListItemLine class="balance">
                Solde : {{ client.savingAccount?.balance | number: '1.0-2'}} €
              </span>
            </mat-list-item>
          </div>
          <a class="btn-grad" mat-flat-button routerLink="/transfer"
            >Virement</a
          >
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
</ng-template>
<ng-template #noClientFound>
    <div>
        <h4>ClientNotFound Error</h4>
        <p>Il n'y a pas de client correspondant à cet id</p>
    </div>
</ng-template>